:root {
  --my-header-color: #d2d2d2;
}

 /* css for header and side menu bar */
 .myheader{
  background-color: #bcc1c2;
  background-size: cover;
  background-position: center;
}
 .sidenav {
  width: 400px;
  position: fixed;
  margin-top: 0px;
  background-color: #bcc1c2;
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.5s;
}

 .profile_pic {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile_pic img {
  height:150px;
  width:150px;
  margin-bottom: 10px;
  margin-left: -150px;
  position: center;
  border-radius:50%;
  box-shadow:-1px 1px 7px #d2d2d2;
  object-fit:cover;
}

 .profile_pic h2 {
  white-space: nowrap;
  margin-top: 10px;
  margin-left: -150px;
  margin-bottom: 0px;
  align-items: center;
  font-size: medium;
  font-weight: 1000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

 .sidenav a {
  display: block;
  padding: 10px;
  margin-left: 40px;
  text-decoration: none;
  text-emphasis-color: blue;
  text-decoration: double;

}

 .sidenav a:hover {
  background-color: #e8e8e8;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-right: 10px;
  margin-top: 5px;
  border: none;
  background-color: transparent;
  color: #000;
}

 .openbtn {
  border-radius: 60%;
  background-color: #e8e8e8;
  font-size: 30px;
  cursor: pointer;
  margin-left: 0px;
  margin-top: -20px;
  border: hidden;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}
 .openbtn img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

 .menu_load_opt {
  transition: margin-left 0.5s;
  padding: 20px;
}

 /* center content */
 .center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -3%;
}

.center-content h1 {
  font-size: 2rem;
}

 .center-content h1 .menu_load_opt .openbtn{
  display: inline-block;
 }

 /* css for header and side menu bar */



/* css for class body background img */
/* body {
 background-color: rgb(17, 111, 111);
} */
/* css for class body background img */